{% extends 'blogs/base.html' %}

{% block title%}
Welcome to Blogs - SocialScraper.in
{% endblock %}

{% block script %}

{% load static %}

<link rel="stylesheet" href="{% static 'blogs/css/style.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


<style>
  .owl-carousel {
    display: flex;
    flex-wrap: nowrap;  /*changed from nowrap to wrap */
    justify-content: center;
    margin-bottom: 40px;
   }  

  .item {
    width: 300px;
    margin-right: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    background-color: #2196f3;
  }

  .img-container {
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    transition: all 0.3s ease;
  }

  .bg-primary {
    background-color: #2196f3;
  }

  .btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  }

  @media only screen and (max-width: 768px) {
    .item {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

</style>



<!-- share icon css -->
<style>
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
}

.social-icons.show {
  opacity: 1;
  transform: translateY(0px);
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 28px;
  color: #444;
  transition: all 0.3s ease-in-out;
  animation: glitter 2s infinite ease-in-out;
}

.social-icons a:hover {
  color: #555;
  transform: translateY(-5px); /* add a translateY transform on hover */
}

/* define the glitter animation */
@keyframes glitter {
  0% {
    transform: translate(-2px, -2px); /* move the icon up and left */
    opacity: 0.5;
  }
  25% {
    transform: translate(2px, 2px); /* move the icon down and right */
    opacity: 1;
  }
  50% {
    transform: translate(2px, -2px); /* move the icon up and right */
    opacity: 0.5;
  }
  75% {
    transform: translate(-2px, 2px); /* move the icon down and left */
    opacity: 1;
  }
  100% {
    transform: translate(-2px, -2px); /* move the icon up and left */
    opacity: 0.5;
  }
}

</style>



{% endblock script %}

{% block content %}

<div class="container-custom">
  <div class="owl-carousel">
    {% for cat in cats %}
    <div class="card item">
      <div class="img-container">
        <img src="/media/{{cat.image}}" class="responsive-img" alt="">
      </div>
      <div class="card-content">
        <div class="card-title">{{cat.title}}</div>
        <p class="truncate">{{cat.description}}</p>
        <div class="container center-align mt20">
          <a href="/blogs/category/{{cat.url}}" class="btn bg-primary">VIEW</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div class="container">
  <div class="row">
    {% for p in posts %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="/media/{{p.image}}" class="responsive-img" style="height: 200px;">
          <span class="card-title">{{ p.title }}</span>
        </div>
        <div class="card-content">
          <p class="post-content">
          <p class="post-content">{{ p.content | striptags | truncatewords_html:40|safe }}</p>
          </p>
        </div>
        <div class="card-action">
          <a href="/blogs/post/{{ p.url }}" class="btn bg-primary">Read More..</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="social-icons">

  
  <!-- WhatsApp Share -->
  <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-whatsapp"></i></a>
  
  <!-- Instagram Share -->
  <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-instagram"></i></a>
  
  <!-- Facebook Share -->
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-facebook"></i></a>
  
  <!-- Twitter Share -->
  <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-twitter"></i></a>
  
  <!-- Pinterest Share -->
  <a href="https://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}&amp;media={{ post.image.url }}&amp;description={{ post.title }}" target="_blank"><i class="fab fa-pinterest"></i></a>
  
  <!-- Reddit Share -->
  <a href="https://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ post.title }}" target="_blank"><i class="fab fa-reddit"></i></a>
  
  <!-- LinkedIn Share -->
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-linkedin"></i></a>

</div>

<script>
  // get the social-icons element
const socialIcons = document.querySelector('.social-icons');

// create a new Intersection Observer
const observer = new IntersectionObserver((entries, observer) => {
  entries.forEach(entry => {
    // if the social-icons element is in view
    if (entry.isIntersecting) {
      // add the 'show' class to the social-icons element
      socialIcons.classList.add('show');
      // disconnect the observer to stop observing
      observer.disconnect();
    }
  });
}, { threshold: 0.5 }); // set the threshold to 50% of the element in view

// observe the social-icons element
observer.observe(socialIcons);

</script>



{% endblock %}
